<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<title>Presenter | <%= title %></title>
</head>
<body>
	<div id="react"></div>
	<script src="vendors.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script>
		var socket = io('<%= server %>');
	</script>
	<script src="controller.bundle.js"></script>
</body>
</html>